[submodule "Assets/M8"]
	path = Assets/M8
	url = https://github.com/ddionisio/MateUnity.git
[submodule "Assets/M8PlayMaker"]
	path = Assets/M8PlayMaker
	url = https://github.com/ddionisio/MatePlayMaker.git
[submodule "Assets/M8Animator"]
	path = Assets/M8Animator
	url = https://github.com/ddionisio/MateAnimator.git
[submodule "Assets/M8AnimatorPlayMaker"]
	path = Assets/M8AnimatorPlayMaker
	url = https://github.com/ddionisio/MateAnimatorPlayMaker.git
